<html>
    <head>
       <meta
             name="google-signin-scope"
             content="profile email" />
        <meta
             name="google-signin-client_id"
             content="361886659911-9gitusm2ra3p4j4o05tld7gtok17sq4r.apps.googleusercontent.com" />
        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>

        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <body>
         <script>
             window.fbAsyncInit = function() {
             FB.init({
             appId : '1704734229816787',
             cookie : true,
             xfbml : true,
             version : 'v2.8'
             });
             FB.AppEvents.logPageView();
             };
             (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>